In [4]:
import pandas as pd
import mysql.connector
import numpy as np

In [5]:
KERALA_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/KE_BUS1.CSV")
AP_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/AP_BUS1.CSV")
TS_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/TS_BUS1.CSV")
RS_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/RS_BUS1.CSV")
SB_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/SB_BUS1.CSV")
AS_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/AS_BUS1.CSV")
UP_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/UP_BUS1.CSV")
NB_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/NB_BUS1.CSV")
CD_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/CD_BUS1.CSV")
PUNJAB_DATA_1=pd.read_csv("C:/Users/Admin/Desktop/REDBUS/ALLBUS/PUNJAB_BUS1.CSV")


BUS_DATA = pd.concat([KERALA_DATA_1,AP_DATA_1,TS_DATA_1,RS_DATA_1,SB_DATA_1,AS_DATA_1,UP_DATA_1,NB_DATA_1,CD_DATA_1,PUNJAB_DATA_1],ignore_index=True)
BUS_DATA

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:03,18:48,08h 45m,INR 469,21 Seats available,4.1\n77,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,INR 627,25 Seats available,3.6\n105,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:15,08h 20m,INR 567,16 Seats available,3.8\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,INR 729,25 Seats available,2.2\n27,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,INR 620,37 Seats available,4.8\n11,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
9578,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),13:00,00:45,11h 45m,INR 3300,50 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9579,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),19:30,07:15,11h 45m,INR 3300,50 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9580,Indo Canadian Transport Pvt. Ltd.,A/C Sleeper (2+1),22:00,09:45,11h 45m,INR 3850,40 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9581,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),16:00,03:45,11h 45m,INR 3300,44 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9582,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),23:30,11:15,11h 45m,INR 3300,49 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar

In [7]:
BUS_DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9583 entries, 0 to 9582
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         9583 non-null   object
 1   Bus_type         9583 non-null   object
 2   Start_time       9583 non-null   object
 3   End_time         9583 non-null   object
 4   Total_duration   9583 non-null   object
 5   Price            9583 non-null   object
 6   Seats_Available  9583 non-null   object
 7   Ratings          9583 non-null   object
 8   Route_link       9583 non-null   object
 9   Route_name       9583 non-null   object
dtypes: object(10)
memory usage: 748.8+ KB

In [8]:
BUS_DATA.isnull().sum()

Bus_name           0
Bus_type           0
Start_time         0
End_time           0
Total_duration     0
Price              0
Seats_Available    0
Ratings            0
Route_link         0
Route_name         0
dtype: int64

In [9]:
BUS_DATA["Price"]=BUS_DATA["Price"].str.replace("INR","")
BUS_DATA["Price"]=BUS_DATA["Price"].astype(float)
BUS_DATA["Price"].fillna(0)

0        469.0
1        627.0
2        567.0
3        729.0
4        620.0
         ...
9578    3300.0
9579    3300.0
9580    3850.0
9581    3300.0
9582    3300.0
Name: Price, Length: 9583, dtype: float64

In [ ]:
BUS_DATA["Ratings"]=BUS_DATA["Ratings"].str.replace("New","")
BUS_DATA["Ratings"]=BUS_DATA["Ratings"].str.strip()
BUS_DATA["Ratings"]=BUS_DATA["Ratings"].str.split().str[0]
BUS_DATA["Ratings"] = pd.to_numeric(BUS_DATA["Ratings"], errors='coerce')
BUS_DATA["Ratings"].fillna(0,inplace=True)

In [ ]:
BUS_DATA = BUS_DATA.replace({np.nan: None})
BUS_DATA

In [12]:
BUS_DATA.to_csv("C:/Users/Admin/Desktop/REDBUS/BUSDATA.CSV",index=False)
BUS_DATA

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:03,18:48,08h 45m,469.0,21 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,627.0,25 Seats available,3.6,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:15,08h 20m,567.0,16 Seats available,3.8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,729.0,25 Seats available,2.2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,620.0,37 Seats available,4.8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
9578,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),13:00,00:45,11h 45m,3300.0,50 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9579,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),19:30,07:15,11h 45m,3300.0,50 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9580,Indo Canadian Transport Pvt. Ltd.,A/C Sleeper (2+1),22:00,09:45,11h 45m,3850.0,40 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9581,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),16:00,03:45,11h 45m,3300.0,44 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar
9582,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),23:30,11:15,11h 45m,3300.0,49 Seats available,4.5,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Jalandhar

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

In [41]:
mycursor.execute("create database REDBUS")

In [42]:
mycursor.execute('''CREATE TABLE REDBUS.BUS_DETAILS(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')

In [6]:
Insert_Qurry=("""INSERT INTO BUS_DETAILS(Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""")

In [ ]:
data = pd.read_csv("C:/Users/Admin/Desktop/REDBUS/BUSDATA.CSV")
data

In [10]:
final_data = data.values.tolist()

In [11]:
final_data
DL = [tuple(i) for i in final_data]

In [19]:
mycursor.execute("use REDBUS")
for i in DL:
    mycursor.execute(Insert_Qurry,i)
mydb.commit()